*{
    margin: 0;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    scroll-behavior: smooth;
}

*::selection{
    background:#3C5E2C;
    color: #fff;
}

.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    float: left;
    position: fixed;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 10;
}

.logo img{
    width: 100px;
    margin-right: -50px;
    padding-right: 40px;
}

.list-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left:50px;
}

.list-menu>li{
    width: 200px;
    font-size: 18px;
}

.list-menu>li>a{
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    transition: 0.5s ease;
    padding: 15px;
    border-radius: 5px;
}

.list-menu>li>a:hover{
    background-color: #3C5E2C;
    color: #fff;
}

.banner>img{
    padding-top: 90px;
    width: 100%;
    display: block;
}

.cong-story{
    padding: 40px 250px 30px 250px;
    float: left;
}

h1{
    color: #232323;
    font-size: 30px;   
    padding-bottom: 40px;
    text-align: center;
}

.text-image>span{
    color: #fff;
    font-size: 20px;
}

.cong-story-image>img{
    width: 100%;
    margin-bottom: 20px;
}

.story{
    text-align: justify;
    line-height: 2;
    font-size: 16px;
}

.story>p{
    margin-bottom: 15px;
    padding: 0px 20px;
}

.content>hr{
    border:1px solid #3C5E2C;
}

.bang-tin{
    padding: 40px 220px 40px 220px;
}

.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sample{
    width: 42%;
    padding: 30px;
    align-items: center;
    margin-left: 7px;
}

.sample-image{
    overflow: hidden;
    margin-bottom: 10px;
}

.sample-image>img{
    width: 450px;
    transition: all 0.5s;
}

.sample:hover img{
    transform: scale(1.1);
}

.sample-content>p{
    font-size: 13px;
    margin-bottom: 15px;
    padding-top: 5px;
}

.sample>a{
    text-decoration: none;
    color: #232323;
}

.product{
    padding: 40px 230px 40px 230px;
    border-top: 1px solid #3C5E2C;
}

.product>h3{
    font-size: 22px;
    margin-top: 20px;
}

.menu-list{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-left: 15px;
}

.list-product{
    width: 22%;
    padding: 10px;
    cursor: pointer;
}

.list-product:hover img{
    opacity: 0.5;
}

.list-product>img{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.list-product>p{
    font-size: 16px;
    font-weight: bold;
    color: #3C5E2C;
}

.list-product>h4{
    font-size: 18px;
    color: #504d4d;
    margin-bottom: 10px;
}

.recruit{
    padding: 40px 220px 40px 220px;
    border-top: 1px solid #3C5E2C;
}

.recruit>img{
    margin-top: 10px;
    width: 100%;
}

.recruit-text{
    padding: 40px 150px;
}

.recruit-text>h3, .recruit>h3, .recruit-content>h3{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
}

.recruit-text>p{
    text-align: justify;
    padding: 20px 10px 30px 10px;
    line-height: 2;
    font-size: 15px;
}

.message{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}

.message-3{
    width: 30%;
    float: left;
    margin-left:20px;
    margin-right: 10px;
    text-align: justify;
}

.message-3>p{
    font-size: 15px;
}

.message-3>h4{
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.message-3>img{
    width: 100%;
    margin-bottom: 20px;
}

.recruit-content{
    width: 100%;
    margin-top: 100px;
}

.jobs{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 0px;
}

.jobs:hover{
    background-color: #F5F5F5;
    border-radius: 10px;
}

.jobs a{
    text-decoration: none;
}

.job-name{
    width: 55%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.job-name>a{
    color: #333333;
    font-weight: bold;
}

.job-desc{
    width: 30%;
    color: #555555;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.job-apply{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C5E2C;
    border-radius: 40px;
    margin-left: 20px;
}

.job-apply>a{
    color: #ffffff;
    font-size: 13px;
}

.stores{
    padding: 40px 250px 40px 250px;
    border-top: 1px solid #3C5E2C;
}

.stores>img{
    width: 100%;
    margin-bottom: 20px;
}

.city{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-left: 50px
}

.store-hanoi>h3, .store-hcm>h3{
    font-size: 21px;
    color: #3C5E2C;
    margin-bottom: 10px;
}

.store-hcm>p, .store-hanoi>p{
    line-height: 2;
    color: #555;
    font-size: 14px;
}

.store-hanoi, .store-hcm{
    width: 48%;
}

.contact{
    padding: 40px 250px 40px 250px;
    text-align: center;
    border-top: 1px solid #3C5E2C;
}

.contact>img{
    width: 100%;
    margin-bottom: 30px;
}

.contact-1{
    margin-bottom: 20px;
}

.contact-1>a{
    color: #3C5E2C;
    font-size: 19px;
    font-weight: bolder;
    text-decoration: none;
}

.contact-1>p{
    color: #555;
}

.contact>h4{
    color: #232323;
    font-size: 20px;
    margin-bottom: 5px;
}

.author{
    padding: 25px 200px 25px 250px;
    border-top: 1px solid #3C5E2C;
}

.info{
    display: flex;
}

.author-image, .author-info{
    width: 50%;
}

.author-image>img{
    width: 80%;
    margin-left: 40px;
}

.author-info{
    line-height: 2.5;
    margin-left: 20px;
}

.author-info>h3{
    font-size: 20px;
    color: #3C5E2C;
}

.connect{
    padding: 25px 250px 25px 300px;
    border-top: 1px solid #3C5E2C;
    display: flex;
}

.connect-fb, .leave-message{
    width: 45%;
    line-height: 1.5;
}

.connect-fb>h5, .leave-message>h5{
    color: #3C5E2C;
    font-size: 16px;
}

.connect-fb>a{
    padding-left: 6px;
    display: inline;
    font-size: 25px;
    color: #939da3;
    font-weight: bold;
}

.connect-fb>a:hover{
    color: #3C5E2C;
}

.leave-message{
    margin-left: 100px;
}

.leave-message>form>input{
    height: 26px;
    width: 200px;
    font-size: 12px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    outline: none;
}

.leave-message>form>button{
    background-color: #3c5e2c;
    border: none;
    color: #fff;
    width: 100px;
    line-height: 28px;
    font-size: 15px;
    margin-left: -9px;
    outline: none;
    cursor: pointer;
}

.leave-message>p{
    color: #232323;
    font-size: 13px;
}

.leave-message>span{
    color: #939da3;
    font-size: 12px;
}

footer{
    font-size: 12px;
    border-top: 1px solid #232323;
    background: #3c5e2c;
    color: #fff;
    padding: 25px 250px 25px 250px;
}

.icon-up{
    font-size: 60px;
    color: #464646;
    position: fixed;
    opacity: 0.8;
    right: 25px;
    bottom: 70px;
}
